.ButtonBar {
  display: flex;
  align-items: center;

  &::before,
  &::after {
    @include bg-light();

    display: block;
    content: "";
    flex-grow: 1;
    height: 1px;
  }

  .Button {
    margin: 0 ($spacing / 2);
  }
}
