.Release {
  h2 {
    @include line-before-after();
  }

  img {
    opacity: 1;
    transition: opacity 600ms ease-out;
  }

  figure {
    position: relative;
    width: 100%;
    overflow: hidden;
  }

  figcaption {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    padding: ($spacing / 2) $spacing;
    background: $panel-color-2;
    transform: translate3d(0, 100%, 0);
    transition: transform 200ms ease-out;
  }

  figure:hover figcaption {
    transform: translate3d(0, 0, 0);
  }

  &-body {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: $spacing;
    padding: $spacing;
    background: $panel-color;
  }

  &-images {
    flex-basis: 100%;

    .Loader {
      position: relative;
      padding-top: 100%;
      background: $panel-color-2;

      > * {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
      }
    }
  }

  &-details {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    flex-grow: 1;

    > * {
      flex-grow: 1;
      flex-basis: 100%;
    }
  }

  &-description > *:first-child {
    margin-top: 0;
  }

  &-tracklist {
    h2 {
      margin-bottom: ($spacing / 2);
    }

    ol {
      list-style: none;
      margin: 0;
      padding: 0;
      counter-reset: tracklist;
    }

    li {
      $number-size: 30px;

      display: flex;
      flex-flow: row wrap;
      position: relative;
      align-items: center;
      padding: ($spacing / 2) ($spacing / 2) ($spacing / 2) ($number-size + ($spacing / 2));

      &::before {
        position: absolute;
        top: 50%;
        left: 0;
        min-width: $number-size;
        font-size: 12px;
        text-align: right;
        counter-increment: tracklist;
        content: counter(tracklist);
        transform: translate3d(0, -50%, 0);
      }

      &:nth-child(odd) {
        background: darken($panel-color-2, 2%);
      }

      &:nth-child(even) {
        background: $panel-color-2;
      }
    }

    &-title {
      flex-grow: 1;
      margin-right: $spacing;
    }

    &-genre {
      font-size: 10px;
      color: rgba($text-color, 0.5);
      margin-right: $spacing;
      padding: 2px 4px;
      border: rgba($text-color, 0.2) 1px solid;
      border-radius: $radius;
    }

    &-length {
      font-size: 14px;
    }
  }

  &-platformList {
    list-style: none;
    padding: 0;
  }

  &-copyright {
    align-self: flex-end;
    font-size: 14px;
    text-align: center;

    p {
      margin: 0;
    }
  }

  .isClientRendered & {
    figure.isLoading img {
      height: 0;
      opacity: 0;
    }
  }

  @include screen-below(640px) {
    &-tracklist-genre {
      @include hide-visually();
    }
  }

  @include screen-below($screen-xxs-max) {
    &-images::after {
      @include bg-light();

      display: block;
      height: 1px;
      content: "";
      margin-bottom: $spacing;
    }
  }

  @include screen-above(335px) {
    &-buyList {
      flex-basis: 50%;
      padding-right: ($spacing / 2);
    }

    &-streamList {
      flex-basis: 50%;
      padding-left: ($spacing / 2);
    }
  }

  @include screen-above($screen-xs-min) {
    &-images {
      flex-basis: 35%;
    }

    &-details {
      flex-basis: 65%;
      padding-left: $spacing;
    }

    &-copyright {
      text-align: right;
    }
  }

  @include screen-above($screen-sm-min) {
    &-images {
      flex-basis: 40%;
    }

    &-details {
      flex-basis: 60%;
    }
  }

  @include screen-above($screen-md-min) {
    &-description,
    &-tracklist {
      font-size: 20px;
    }

    &-tracklist-genre {
      font-size: 12px;
      padding: 4px 8px;
    }
  }
}
