@import "../../../scss/variables", "../../../scss/mixins";

.Brand {
  $size: 48px;

  display: flex;
  width: $size;
  height: $size;
  flex-shrink: 0;
  flex-grow: 0;
  align-items: center;

  &::before {
    @include bg-2();
    @include logo-name();

    width: 100%;
    height: 100%;
    content: "";
    background-size: cover;
  }

  span {
    @include hide-visually();
  }

  @include screen-below($screen-xs-max) {
    margin-right: $spacing;
  }

  @include screen-above($screen-sm-min) {
    $size: $banner-size-medium - $spacing-double;

    width: $size;
    height: $size;
    margin: $spacing auto -3px;
  }

  @include screen-above($screen-md-min) {
    $size: $banner-size - $spacing-double;

    width: $size;
    height: $size;
  }
}
