@import "../../../scss/variables";

.Loader {
  display: block;
  margin: 0 auto;

  &--animation {
    position: relative;
    width: 30px;
    height: 30px;
    margin: auto;
  }

  span {
    $size: 20%;

    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: $size;
    height: $size;
    background: $text-color;
    transform: translate3d(0, -50%, 0);
    animation: 1s linear infinite height-pulse;

    + * {
      left: ($size * 2);
      animation-delay: 150ms;
    }

    + * + * {
      left: ($size * 4);
      animation-delay: 300ms;
    }
  }
}
