.ResourceListings {
  margin-bottom: $spacing;
  padding: $spacing;
  background: $panel-color;

  h2 {
    @include line-before-after();

    margin-top: 0;
  }

  &-items {
    display: flex;
    flex-wrap: wrap;
    margin: (-($spacing / 2));
  }
}
