@import "../../../scss/variables", "../../../scss/mixins";

.OfflineNotice {
  @include panel-1();

  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: $spacing;
  padding: $spacing;

  svg {
    font-size: 128px;
  }
}
