@import "../../../scss/variables", "../../../scss/mixins";

.ResourceListing {
  flex-basis: 100%;
  padding: $spacing-half;

  h3 {
    margin-top: 0;
  }

  p {
    margin-bottom: 0;
  }

  a {
    @include panel-2();

    display: flex;
    flex-direction: column;
    min-height: 100%;
    border-radius: $radius;
    transition: background-color 200ms ease-out;

    &:hover {
      background: $panel-base-color;
    }
  }

  img {
    margin: auto;
  }

  &--image {
    display: flex;
    flex-basis: 100%;
    flex-shrink: 0;
    align-items: center;
    padding: $spacing;

    .Loader {
      padding-top: 100%;
    }
  }

  &--details {
    flex-grow: 1;
    padding: 0 $spacing $spacing;
  }

  @include screen-above($screen-xs-min) {
    a {
      flex-direction: row;
    }

    &--image {
      flex-basis: 33.333333%;
      padding: $spacing $spacing-half $spacing $spacing;
    }

    &--details {
      padding: $spacing $spacing $spacing $spacing-half;
    }
  }

  @include screen-above(590px) {
    &--image {
      flex-basis: 25%;
    }
  }

  @include screen-above($screen-lg-min) {
    flex-basis: 50%;

    &--image {
      flex-basis: 33.333333%;
    }
  }

  @include screen-above(1500px) {
    flex-basis: 33.333333%;
  }
}
