@import "../../../scss/variables", "../../../scss/mixins";

.GalleriesRoute {
  padding-bottom: $spacing;

  &--listings {
    display: flex;
    flex-flow: row wrap;
    margin: (-$spacing-half);
  }
}
