@import "../../../scss/variables", "../../../scss/mixins";

.ResourcesRoute--listings {
  @include panel-1();

  margin-bottom: $spacing;
  padding: $spacing;

  h2 {
    @include line-before-after();

    margin-top: 0;
  }

  &--items {
    display: flex;
    flex-wrap: wrap;
    margin: (-$spacing-half);
  }
}
