.Button {
  position: relative;
  padding: ($spacing / 2) $spacing;
  border: $text-color 1px solid;
  border-radius: $radius;
  background: $panel-color;

  &.isLoading .Button-content {
    opacity: 0;
  }

  .Loader {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    svg {
      margin: 0 auto;
    }
  }

  &:hover {
    background: $panel-color-2;
  }
}
