.NewsArticle {
  &-image {
    position: relative;
    width: 100%;
    overflow: hidden;

    .Loader {
      padding-top: 31.25%;
    }
  }

  &-body {
    position: relative;
    margin-bottom: $spacing;
    background: $panel-color;
  }

  &-meta {
    font-size: 14px;
    padding: $spacing $spacing 0;
  }

  &-content {
    padding: 0 $spacing;
    overflow: hidden;
  }

  &-contentText a {
    text-decoration: underline;
  }

  &-action {
    margin-top: $spacing;
  }

  @include screen-above($screen-sm-min) {
    &-meta {
      position: absolute;
      padding: ($spacing / 2) $spacing;
      background: $panel-color-2;
      transform: translate3d(0, -100%, 0);

      > * {
        display: inline-block;

        + * {
          margin-left: $spacing;
        }
      }

      &::before {
        @include angle-after-bottom();

        width: ($spacing * 2);
        background: $panel-color-2;
      }
    }
  }
}
