.PageHeader {
  @include panel-1();
  @include flag-left();

  display: flex;
  align-items: center;
  margin: 0 (0 - $spacing) $spacing 0;
  padding-top: ($spacing / 2);
  padding-right: $spacing;
  padding-bottom: ($spacing / 2);
  overflow: hidden;

  &::before {
    @include bg-2();
    @include logo-symbol();

    display: inline-block;
    flex-shrink: 0;
    width: 28px;
    height: 28px;
    content: "";
    margin-right: ($spacing / 2);
  }

  h1 {
    display: inline-block;
    margin: 0;
  }
}
