@keyframes pan-left {
  0% { background-position: 0 50%; }
  50% { background-position: -50px 50%; }
  100% { background-position: 0 50%; }
}

@keyframes pan-right {
  0% { background-position: 0 50%; }
  50% { background-position: 50px 50%; }
  100% { background-position: 0 50%; }
}

@keyframes height-pulse {
  0% { height: 10%; }
  50% { height: 100%; }
  100% { height: 10%; }
}
